syntax: glob
Makefile.*.user
Makefile.user
*.bin
*.elf
*.o
*.d
*.a
*.fir
.*
.*.swp
a.out
*.exe
*.rar
*.list
*.raw
*.dis
*/compile.h
chdk
eos
font-*.c
version.c
font-*.in
*.zip
*.orig
tags
*.jpg
*.mov
*.mp3
*.fcp
*.jpeg
*.wav
*.i
*.log
*.pyc
location.map
autoexec.map
magic-lantern/plugins/plugin.lds
magic-lantern/docs/html
magic-lantern/docs/latex
pymite-nat.c
pymite-img.c
magic-lantern/toolchain/build
magic-lantern/toolchain/sources
magic-lantern/toolchain/stamps
magic-lantern/platform/*/*.sym
magic-lantern/platform/*/autoexec
magic-lantern/platform/*/magiclantern
magic-lantern/platform/*/magiclantern.lds
magic-lantern/platform/*.OLD
magic-lantern/platform/*/qemu-helper
magic-lantern/platform/*/version.c
magic-lantern/platform/all/autoexec-all
magic-lantern/platform/all/autoexec-fir
magic-lantern/platform/all/ML
magic-lantern/platform/all/zip
magic-lantern/doc/*.aux
magic-lantern/doc/*.out
magic-lantern/doc/*.pdf
magic-lantern/doc/*.rst
magic-lantern/doc/*.toc
magic-lantern/doc/cam/*.png
magic-lantern/doc/cam/*.bmp
magic-lantern/doc/INSTALL.tex
magic-lantern/doc/UserGuide-cam.tex
magic-lantern/doc/UserGuide.tex
magic-lantern/doc/cam/menuidx.dat
magic-lantern/doc/credits.tex
magic-lantern/doc/install-body.tex
magic-lantern/doc/install.wiki
magic-lantern/doc/menuindex.txt
magic-lantern/installer/*/*.lds
magic-lantern/doc/Cropmarks550D.png
magic-lantern/plugins/loader.c
magic-lantern/contrib/ptpcam/ptpcam
loader.c
magic-lantern/doc/cam
INSTALL.tex-e
UserGuide.tex-e
UserGuide-cam.tex-e
zip.txt
magic-lantern/doxygen-doc/*
magic-lantern/modules/*/*.dep
magic-lantern/modules/*/*.mo
magic-lantern/modules/*/*.sym
magic-lantern/modules/*/*.rsc
magic-lantern/modules/*/hgstamp
magic-lantern/modules/*/hgdiff.tmp
magic-lantern/modules/*/hginfo.tmp
magic-lantern/modules/*/module_strings.h
magic-lantern/modules/raw_rec/raw2dng
magic-lantern/modules/raw_rec/raw2dng.exe
magic-lantern/tcc/localsyms
magic-lantern/src/menuindexentries.h
magic-lantern/modules/dual_iso/cr2hdr*
magic-lantern/modules/*/module_strings.h
magic-lantern/modules/mlv_rec/mlv_dump
magic-lantern/modules/mlv_rec/raw2dng
magic-lantern/modules/io_crypt/io_decrypt

tipps_and_trics

*.dvi
*.fdb_latexmk
*.fls
syntax: regexp
